.prizeResult {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transform: all 0.3s;
    bottom: 200px;
    z-index: 10000;
}

// 大红包
.bigredEnvelope {
    width: 497px;
}

// 小红包
.smallredEnvelope {
    width: 386px;
}

// 150优惠卷
.coupon {
    width: 656px;
}

// 跳绳 
.skippingRope {
    width: 655px;
}

// 水壶
.kettle {
    width: 372px;
}

// gun
.gun {
    width: 505px;
}

.mike {
    width: 219px;
}

.switch {
    width: 579px;
}

.kq {
    width: 555px;
}

.fitrue {
    width: 299px;
}

@mixin defaultSmallScreen {
    .mike {
        width: 149px;
    }

    .fitrue {
        width: 299px;
    }
}

// iphone 678 p
@media (device-width: 414px) and (max-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    @include defaultSmallScreen();
}

// iphone 678
@media (device-width: 375px) and (max-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    @include defaultSmallScreen();
}

// iphone 5
@media (device-width: 320px) and (max-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    @include defaultSmallScreen();
}