.prizeResult {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transform: all 0.3s;
    bottom: 200px;
    z-index: 10000;
}

// 大红包
.bigredEnvelope {
    width: 497px;
}

// 小红包
.smallredEnvelope {
    width: 386px;
}

// 150优惠卷
.coupon {
    width: 656px;
}

// 跳绳 
.skippingRope {
    width: 655px;
}

// 水壶
.kettle {
    width: 372px;
}

// gun
.gun {
    width: 505px;
}

.mike {
    width: 219px;
}

.switch {
    width: 579px;
}

.kq {
    width: 555px;
}

.fitrue {
    width: 369px;
}