    .callbackDisplay {
        justify-content: center;
    }

    .callback {
        margin: {
            // top: 130px;
        }

        width: 50vw;
    }

    .prize {
        min-height: 100vh;
        width: 100vw;
        background-image: url('../../assets/bkg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;

        .prizeItem {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            padding: {
                top: 117px
            }

            margin: {
                bottom: 101px;
            }

            .congratulations {
                color: white;
                font-size: 47px;
                font-weight: 700;
                text-align: center;
            }



            .prizeImg {
                margin: {
                    top: 32px;
                }
            }
        }

        .iceCream {
            width: 76vw;
            object-fit: contain;
            border: 1px solid white;
        }

        .mike {
            width: 182px;
            object-fit: contain;
        }
    }