.share {
    color: white;
    font-size: 47px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: {
        top: 220px
    }

    .prizeImage {
        width: 40vw;
        object-fit: contain;

        margin: {
            top: 20px;
        }
    }

    .drawNowWithShare {
        width: 50vw;
        object-fit: contain;

        margin: {
            top: 20px
        }
    }
}