.luckDraw {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url('../../assets/lotteryPage/result.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
