.canvas {
    position: relative;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: {
        top: 40px
    }

    .canvasContainer {
        width: 70vw !important;
        object-fit: contain;

    }

    .trueName {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .descx {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: white;
    }

    .avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13vw;
        border-radius: 50%;
    }
}

.gen {
    width: 50vw;

    margin: {
        top: 20px
    }
}

.receive {
    width: 80vw;



    .receiveContainer {
        width: 70vw;
    }
}

.receiveContainer {
    color: #f8f9c0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: {
        left: 40px;
        right: 40px
    }

    margin: {
        top: 20px
    }

    .prizeLine {
        text-align: center;
        font-size: 48px;
        font-weight: 800;
        margin: {
            top: 40px
        }
    }

    .addr {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 48px;

        margin: {
            top: 20px;
            bottom: 20px;
        }
    }

    .withShare {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcome {
        text-align: justify;
        line-height: 150%;
        text-indent: 20px;
    }
    .project {
        width: 100%;
        .projectDesc {
            text-align: justify;
            line-height: 150%;
            text-indent: 20px;
            margin: {
                top: 20px;
                bottom: 20px;
            }

        }
        .projectImages {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

    }
}